<a href="https://colab.research.google.com/github/SeekingGarrus/Homework/blob/main/%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BA%D0%B0_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import random

In [4]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})
print(data)

   whoAmI
0   human
1   robot
2   human
3   robot
4   human
5   robot
6   robot
7   robot
8   human
9   human
10  robot
11  human
12  human
13  robot
14  human
15  human
16  robot
17  robot
18  human
19  robot

Можно без get_dummies.

In [5]:
data['tmp'] = 1
data.set_index([data.index, 'whoAmI'], inplace=True)
data = data.unstack(level=-1, fill_value = 0).astype(int)
data.columns = data.columns.droplevel()
data.columns.name = None
print(data)

    human  robot
0       1      0
1       0      1
2       1      0
3       0      1
4       1      0
5       0      1
6       0      1
7       0      1
8       1      0
9       1      0
10      0      1
11      1      0
12      1      0
13      0      1
14      1      0
15      1      0
16      0      1
17      0      1
18      1      0
19      0      1